Flask 
flask-sqlalchemy
werkzeug
python-dotenv
mysqlclient
streamlit
reportlab
pandas
matplotlib
flask_cors
# For testing
flasgger

#for database connection
flask_migrate

# for authentication
flask_jwt_extended